# Byte-compiled / cache / logs
__pycache__/
*.py[cod]
*$py.class
*.log
*.tmp

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment variables
.env
.env.*

# IDE / editor
.vscode/
.idea/
*.swp

# Build and dist
build/
dist/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
nosetests.xml
.tox/
.cache/

# Docker
Dockerfile.*
docker-compose.*

# OS specific
.DS_Store
Thumbs.db

# Docs / temporary
*.bak
*.old
*.orig
*.tmp
*.md~
