# Archivos y carpetas innecesarias
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log

# Carpetas locales
.env
.git
.gitignore
.pytest_cache/
htmlcov/
reports/
dash_test/
tests/
.coverage
coverage.*
*.egg-info
dist/
build/
mails/tmp/
*.sqlite3

# Configuración del entorno local
.vscode/
.idea/
.DS_Store
*.bak
