# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Entornos virtuales
env/
venv/
.venv/

# IDEs
.vscode/
.idea/
.DS_Store

# Tests y cobertura
.pytest_cache/
.coverage
htmlcov/
reports/
dash_test/
*.xml

# Logs y runtime
*.log
*.pid

# Configuración
.env
.env.*

# Archivos temporales
*.bak
*.tmp
*.swp
*.swo
*.sqlite3

# Docker
docker-compose.override.yml
.dockerignore
